.external {
    background-color: yellow
  }
.alert {
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
}
#table {
	margin: 10px;
	padding: 2px;
	border: 1px solid darkblue;
	background-color: gainsboro;
}
#table td {
	border: 1px solid darkblue;
	padding: 10px;
	width: 100px;
	height: 30px;
}

#newTable {
	border-collapse: collapse;
}
#newTable td,
#newTable th {
      border: 1px solid black;
      padding: 3px;
      text-align: center;
    }
#newTable th {
      font-weight: bold;
      background-color: #E6E6E6;
    }

#hour,
#minute,
#second {
	display: inline;
	margin: 0;
	padding: 0;
	width: 25px;
	font-size: 20px;
}
#hour {
	color: red;
}
#second {
	color: blue;
}

input {
	display: inline-block;
	margin: 10px;
  	border: 2px solid #dfe2e5;
  	padding: 10px;
  	width: 200px;
  	background-color: white;
  	text-align: center;
	text-transform: uppercase; 
	font-size: 10px;
}